@font-face {
  font-family: "Mulish";
  src: local('Mulish-Regular'),
        local('Mulish Regular'),
        url(../fonts/Mulish/Mulish-Regular.woff2) format("woff2"),
        url(../fonts/Mulish/Mulish-Regular.woff) format("woff"),
        url(../fonts/Mulish/Mulish-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local('Mulish-Italic'),
        local('Mulish Italic'),
        url(../fonts/Mulish/Mulish-Italic.woff2) format("woff2"),
        url(../fonts/Mulish/Mulish-Italic.woff) format("woff"),
        url(../fonts/Mulish/Mulish-Italic.eot) format("eot");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local('Mulish-SemiBold'),
        local('Mulish SemiBold'),
        url(../fonts/Mulish/Mulish-SemiBold.woff2) format("woff2"),
        url(../fonts/Mulish/Mulish-SemiBold.woff) format("woff"),
        url(../fonts/Mulish/Mulish-SemiBold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: local('Mulish-Bold'),
        local('Mulish Bold'),
        url(../fonts/Mulish/Mulish-Bold.woff2) format("woff2"),
        url(../fonts/Mulish/Mulish-Bold.woff) format("woff"),
        url(../fonts/Mulish/Mulish-Bold.eot) format("eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-Regular'),
        local('Montserrat Regular'),
        url(../fonts/Montserrat/Montserrat-Regular.woff2) format("woff2"),
        url(../fonts/Montserrat/Montserrat-Regular.woff) format("woff"),
        url(../fonts/Montserrat/Montserrat-Regular.eot) format("eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local('Montserrat-SemiBold'),
        local('Montserrat SemiBold'),
        url(../fonts/Montserrat/Montserrat-SemiBold.woff2) format("woff2"),
        url(../fonts/Montserrat/Montserrat-SemiBold.woff) format("woff"),
        url(../fonts/Montserrat/Montserrat-SemiBold.eot) format("eot");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.text {
  color: #242424;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  font-family: 'Mulish';
}
.btn {
  cursor: pointer;
}
.title {
  color: #242424;
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  line-height: normal;
}
.button {
  background-color: #FA4A23;
  border-radius: 5px;
  color: #fff;
}
/* ==================================HEADER========================================== */
.header {
  padding: 35px 0 15px;
}
.header_top {
  display: flex;
  margin-bottom: 45px;
}
.header_text {
  width: 31.704%;
  margin: auto 0;
  margin-right: 10px;
}
.header_logo {
  margin-right: 5px;
}
.header_search {
  margin: auto 0;
  width: 17.482%;
  background-color: #F5F5F5;
  padding-left: 30px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  height: 50px;
  border-radius: 5px;
}
.header_search_text {
  height: 30px;
  width: 100%;
  background-color: #F5F5F5;
}
.header_mail {
  display: flex;
  width: 16.519%;
  align-items: center;
  margin-right: 45px;
}
.header_mail::before {
  content: url(../img/header_and_footer/mail.svg);
  display: inline;
  margin-right: 10px;
  height: 15px;
  margin-top: 5px;
}
.header_favorites {
  margin-right: 40px;
}
.header_line {
  height: 1px;
  background-color: #F8F8F8;
  width: 100%;
  position: absolute;
  top: 130px;
  left: 0;
}
.header_line:last-child {
  top: 185px;
}
.header_nav_elements {
  display: flex;
  justify-content: space-between;
  padding: 0 13.6%;
}
.header_nav_element {
  display: flex;
  align-items: center;
}
.header_nav_element .text {
  text-transform: uppercase;
}
.header_nav_element .btn { 
  height: 100%;
  width: 30px;
  text-align: center;
}
.header_nav_element .btn img {
  display: block;
  margin: 0 auto;
}
/* ====================================FOOTER======================================== */
.footer {
  padding: 70px 0;
  background-color: #171717;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  margin-bottom: 25px;
}
.footer_text {
  color: #848484;
  font-weight: 400;
}
.footer_column {
  display: flex;
  flex-direction: column;
  max-width: 280px;
}
.footer_column_title {
  color: #d8d2d2;
  margin-bottom: 20px;
  font-size: 16px;
}
.footer_column_text {
  color: #848484;
  font-weight: 400;
}
.footer_row {
  margin-bottom: 10px;
}
.footer_column_text:hover {
  color: #fa4a23;
}
