main {
  background-color: #f5f5f5;
  padding: 25px 0 60px;
}
.address {
  margin-bottom: 40px;
}
.address p{
  font-family: 'Montserrat';
  font-weight: 400;
  color: #5f5f5f;
  display: inline;
}
.address p:first-child {
  color: #fa4a23;
  margin-right: 2px;
}
.line {
  width: 55px;
  height: 2px;
  background-color: #Fa4a23;
  margin: 0 auto 45px;
  margin-top: 17px;
  margin-bottom: 50px;
}
.help_title {
  text-align: center;
  text-transform: uppercase;
}

.help_supports {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.support {
  width: 205px;
  margin-right: 10px;
}
.support:last-child {
  margin-right: 0;
}
.support_btn {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  transition: all 0.5s;
  background-color: #fff;
}
.support_btn p {
  color: #616161;
  font-weight: 400;
}
.support_btn:hover {
  background-color: #242424;
  border: 1px solid #242424;
}
.support_btn:hover p {
  color: #fff;
}

.help_track_order {
  width: 640px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 0 auto;
  transition: all 0.5s;
  margin-bottom: 25px;
}
.help_track_order p {
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 15px;
}
.track_order_img {
  height: 25px;
  padding-top: 2px;
}
.help_track_order:hover {
  border: 1px solid #242424;
  background-color: #242424;
}
.help_track_order:hover p {
  color: #fff;
}
.help_track_order:hover path {
  fill: #fff;
}
.questions--close {
  display: none;
}
.help_support_element {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 20px;
  position: relative;
}
.help_support_element_title {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 150%;
}
.help_support_element_text {
  color: #616161;
  font-weight: 400;
  line-height: 150%;
}
.help_support_element_btn {
  position: absolute;
  top: 37px;
  right: 37px;
}
.element--open line:last-child {
  display: none;
}
.help_support_element_question {
  position: relative;
  padding: 10px 0;
}
.question_title {
  font-size: 16px;
}
.discription--close {
  display: none;
}
.question_btn {
  position: absolute;
  top: -7.5px;
  right: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question_btn img {
  transition: all 0.5s;
}
.question_btn--open img {
  transform: rotate(90deg);
}
.question_discription {
  border-radius: 5px;
  background-color: #F5F5F5;
  margin-right: 40px;
  padding: 20px 25px;
}
.question_discription p {
  color: #616161;
}
.question_discription strong {
  color: #242424;
  margin-top: 10px;
  display: inline-block;
}
.help_supports_columns {
  display: flex;
  justify-content: space-between;
}
.help_supports_column {
  width: 100%;
  margin-right: 20px;
}
.help_supports_column:last-child {
  margin-right: 0;
}
.help_support_element {
  margin-bottom: 25px;
}
.help_support_element:last-child {
  margin-bottom: 0;
}
